@model TransactionViewModel
@{
    ViewData["Title"] = "Create new transaction";
}

<h1>Crear nueva transaccion</h1>
<h4>Las transacciones nos sirven para registrar los gastos que hacemos diariamente</h4>

<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="mb-3">
        <label asp-for="GroupId" class="form-label"></label>
        <select asp-for="GroupId" asp-items="Model.CategoryGroups" class="form-select"></select>
        <span asp-validation-for="GroupId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="CategoryId" class="form-label"></label>
        <select asp-for="CategoryId" class="form-select"></select>
        <span asp-validation-for="CategoryId" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="TransactionDate" class="form-label"></label>
        <input asp-for="TransactionDate" class="form-control" />
        <span asp-validation-for="TransactionDate" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Amount" class="form-label"></label>
        <input asp-for="Amount" class="form-control" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Notes" class="form-label"></label>
        <textarea asp-for="Notes" class="form-control" ></textarea>
        <span asp-validation-for="Notes" class="text-danger"></span>
    </div>
    <button class="btn btn-primary">Crear</button>
    <a class="btn btn-secondary" asp-action="Index">Cancelar</a>
</form>

@section Scripts{
    <partial name="_ValidationScriptsPartial" />

    <script> 
        $(function(){
            $("#GroupId").change(async function(){
                var currentValue = $(this).val();
                
                var response = await fetch('/Category/GetByGroupId', {
                    method: 'POST',
                    body: currentValue,
                    headers: {
                        'Content-Type':'application/json'
                    }
                });

                const json = await response.json();
                console.log(json);
                const options = json.map(category => `<option value=${category.categoryId}>${category.categoryName}</option>`)
                $("#CategoryId").html(options);
            });
        });
    </script>
}